<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Form</title>
</head>
<body>
<h1>Edit form</h1>
<form th:action="@{|/book/update/${book.id}|}" th:object="${book}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required />

    <label>Price:</label>
    <input type="number" th:field="*{price}" step="0.01" required />

    <label>Stock:</label>
    <input type="number" th:field="*{stock}" required />

    <label>Category:</label>
    <input type="text" th:field="*{categoryName}" required />

    <label>Status:</label>
    <input type="checkbox" th:field="*{status}" />

    <button type="submit">Save</button>
</form>
<a href="/books">Cancel</a>
</body>
</html>
