<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Nhân Viên</title>
</head>
<body>

<h1>Danh Sách Nhân Viên</h1>
<a th:href= "@{/employee/add}">Thêm Nhân Viên</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>FullName</th>
        <th>Email</th>
        <th>Address</th>
        <th>Department</th>
        <th>Birthday</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.employeeId}"></td>
        <td th:text="${employee.fullName}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text="${employee.departmentName}"></td>
        <td th:text="${employee.dob}"></td>
        <td th:text="${employee.status} ? 'Active' : 'Inactive'"></td>
        <td>
            <a th:href="@{|/employee/edit/${employee.employeeId}|}" class="btn">Edit</a>
            <a th:href="@{|/employee/delete/{id}(id=${employee.employeeId})|}" class="btn"
               onclick="return confirm('Bạn có chắc chắn muốn xóa nhân viên này không?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">Back home</a>
</body>
</html>