<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Department</title>
</head>
<body>
<h1>Edit Department</h1>
<form th:action="@{/department/update}" method="post">
    <input type="hidden" name="id" th:value="${department.id}">
    <input type="text" name="name" th:value="${department.name}" required><br>
    <select name="status">
        <option th:value="true" th:if="${department.status}">Active</option>
        <option th:value="false" th:if="${!department.status}">Inactive</option>
    </select><br>
    <button type="submit">Update</button>
</form>
</body>
</html>
